doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        #listArea 
        #resultArea 
            p#average 
            p#medium 
            p#max 
            p#min 
            p#standardDeviation 