doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title KARNAUGH
        link(rel="stylesheet", href="./style.css")
    body
        #main.main
            h1#title.title 까르노맵
            #buttonArea.buttonArea 

            #formulaArea
                h2#formula 

        
        script(src="./app.js") 