doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 쿠팡
        link(href="./style.css" rel="stylesheet" type="text/css")
    body 
        #main.main 
            .floor 
                .halfBox
                .halfBox 
            .floor 
                .quarterBox 
                .quarterBox 
                .quarterBox 
                .quarterBox 