* {
    margin: 0; padding: 0;
}

.main {
    width: 970px;
    height: 500px;
    border: 1px solid gray;

    margin: auto;
    .floor {
        width: 100%;
        height: 50%;

        $halfWidth: calc(50% - 8px);
        $quarterWidth: calc(25% - 16px);

        .halfBox {
            width: $halfWidth;
            height: 100%;

            border: 1px solid gray;
            margin: 2px;
            float: left;
        }

        .quarterBox {
            width: $quarterWidth;
            height: 100%;

            border: 1px solid gray;
            margin: 2px;
            float: left;
        }
    }
}

