<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join us</title>
</head>
<body>
    <form action="#" method="post">
        <label>New id : <input></label>
        <label>New id : <input></label>
    </form>
</body>
</html>