doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Transpose Matrix
    body 
        #main.main 
            #initialMatrix.matrix
            #arrow 
                p.arrow ===>
            #resultMatrix.matrix
        
        script(src="./transposeMatrix.js") 