doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Join us
    body 
        h1 Welcome to Site
        #inputArea
            label(for="id") ID : 
                input#id(placeholder="id")
            br
            label(for="pw") PW : 
                input#pw(placeholder="password")
            br
            button#joinButton Join
        script(src="scripts/join.js") 
